.button {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    border: solid 2px;
    background: none;
    cursor: pointer;

    &.red {
        border-color: red;
        color: red;
    }

    &.green {
        border-color: green;
        color: green;
    }


}